.mycolor1 {
    background-color: #cff4d2;
}
.mycolor2 {
    background-color: #7be495;
}
.mycolor3 {
    background-color: #56c596;
}
.mycolor4 {
    background-color: #329d9c;
}
.mycolor5 {
    background-color: #205072;
}
