
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display:wght@600&family=Poppins:wght@600;700&family=Roboto:wght@700&family=Rubik:wght@700&display=swap');
*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
   
}

.container {
    font-family: ProximaVara, "Helvetica Neue", Helvetica, Arial;
    border: none;

}
.mycolor {
    background-color: #42ad81;
}
.gradient1{
    background-image: linear-gradient(145deg, #cff4d2, #7be495);
}
.mycolor2 {
     background-image: linear-gradient(to bottom right,  #7be495, #56c596);
     
}
.gradient2 {
      background-image: linear-gradient(180deg, #56c596, #329d9c);
}
.gradient3 {
      background-image: linear-gradient(360deg, #56c596, #329d9c);
    }
.gradient4 {
      background-image: linear-gradient(145deg,  #316d6c, #205072);
}
.mycolor3 {
    background-color: #56c596;
}
.mycolor4 {
    background-color: #329d9c;
}
.mycolor5 {
    background-color: #205072;
}
.jenis_surah {
    font-size: 12px;
}
.surahNumber {
    background-color: #7be495;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    transform: rotate(45deg);
    border-radius: 5px;
    margin-right: 15px;
    
}
.number{
    font-size: 14px;
    font-weight: bold;
    transform: rotate(-45deg);

}

.f-roboto {
    font-family: 'Roboto', sans-serif;
}
.f-rubik {
   font-family: 'Rubik', sans-serif;
}   
.f-lato {
   font-family: 'Lato', sans-serif;
}
.f-playfair {
    font-family: 'Playfair Display', serif;
}
.style-text {
    text-indent: 80px;
}

.odd {
    border-radius: 7px;
    background-color: #cff4d2;
}
.even {
    border-radius: 7px;
    background-color:  #8fe2a4;
}
a {
    text-decoration : none;
}
a:hover {
    color: #00fffb;
}
.medsos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #00fffb;
}

.number-ayat {
   display: inline-block;
   width: 60px;
   height: 60px;
   position: absolute;
   text-align: center;
   line-height: 60px;
   font-weight: bold;
   background-repeat: no-repeat;
   background-image: url(../img/islam.png);
   background-size: 60px;
}
.footer-style i {
    color: black;
}
.tafsiran-style  {
    text-align: justify;
     height: 100vh;
     padding-top: 100px;
     overflow-y: auto;
}
.date {
   position: absolute;
   top: 0;
   right: 0;
}
.fs-7 {
    font-size: 14px;
}
.color-dark {
    color: rgb(34, 31, 31);
}
.text-indent {
  text-indent: 2em; /* Atur nilai indentasi sesuai kebutuhan */
}
.mysearch {
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px;
    outline: none;
    border: none;
    position: relative;
    background-position: 95%;
    background-size: 20px;
    background-image: url('https://img.icons8.com/ios-glyphs/30/search--v1.png');
    background-repeat: no-repeat;
}

.cjr {
    overflow-y: auto;
    height: 100vh;
}
.materi-style {
    width: 100%;
    font-size: 15px;
}
.audio {
    background-color: white;
    
}

@media only screen and (max-width: 500px) {
     *{
        font-size: 12px;
        color: black;
     }
 .mysearch {
    width: 100%;
    border-radius: 15px;
    padding: 10px 15px;
    outline: none;
    border: none;
    position: relative;
    font-size: 12px;
    background-position: 95%;
    background-size: 20px;
    background-image: url('https://img.icons8.com/ios-glyphs/30/search--v1.png');
    background-repeat: no-repeat;
}

}
